section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    strong {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      border-left: 0px solid transparent;
      transition-property: padding color;
      transition-duration: .3s;
    }

    li {
      & + li {
        margin-top: 20px;
      }

      &:not(:last-of-type) {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
      }

      &:hover {
        strong {
          color: #7247d6;
          border-left: 8px solid #8257e6;
          padding-left: 10px;
        }
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}

div.form-container {
  margin: 40px;

  form {
    display: flex;
    gap: 10px;

    .form-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 10px;

      input, select {
        height: 55px;
        padding: 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid #444;
        font-size: 16px;
      }
    }
  }
}